@model PontoTuristicoModel
@{
    ViewData["Title"] = "Detalhes do Ponto Turistico";
}


<div class="row">
    <div class="col-md-12">
        <img height="50px" width="auto" src="https://i.imgur.com/KKWPjXF.png" />
    </div>
</div>

<br />

<div class="text-center">

    <br />

    <h2>Detalhes do ponto turistico</h2>

    <br />

    <p><b>Nome:</b> @Model.Nome</p>
    <p><b>Cep:</b> @Model.Cep</p>
    <p><b>Cidade/Estado:</b> @Model.Cidade/@Model.Estado</p>
    <p><b>Ponto de Referência:</b> @Model.Referencia</p>
    <p><b>Descrição:</b> @Model.Descricao</p>
    <p><b>Data de Criação:</b> @Model.DataCadastro</p>
    <p><b>Data de Alteração:</b> @if (@Model.DataAtualizacao == null) { <span>Ainda não houve alterações.</span> } else { <span>@Model.DataAtualizacao</span> }</p>

    <br />
    <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="PontoTuristico" role="button">Voltar</a>

</div>